.contest-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 451px) {
  .contest-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .contest-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .contest-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .contest-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
